@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;500&family=Permanent+Marker&family=Righteous&family=Ubuntu:ital,wght@1,700&display=swap');
.top{
  background-image: url("../images/backgrounds/h_img.jpg");
  background-size: cover;
  opacity: 80%;
}
.logo img{
  margin-top: 200px;
}
.top>h1{
  padding-top: 93px;
  color: rgb(5, 55, 112);
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
  font-weight: bold;
}
.top>p{
  color: rgb(5, 55, 112);
  text-transform: uppercase;
  font-weight: bold;
}
.mouse-click img{
  padding-top: 120px;
  padding-bottom: 20px;
}

#about{
  margin-top:50px;
}
#about h2{
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
}
#about{
  font-family: 'Ubuntu', sans-serif;
}

#services{
  color: white;
  background-image: url("../images/backgrounds/s_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
  padding-bottom: 100px;
  padding-top: 100px;
}
#services{
  font-family: 'Noto Sans JP', sans-serif;
}

#whatWeDo{
  margin-top: 50px;
}
#whatWeDo h2{
  padding-bottom: 15px;
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
}
#whatWeDo h3{
  text-transform: uppercase;
  font-style: normal;
  font-size: 14px;
  font-family: 'Righteous', cursive;
}
#hide1,#hide2,#hide3,#hide4,#hide5,#hide6{
  display: none;
}

#portfolio{
  margin-top: 50px;
  cursor: pointer;
}
#portfolio>h2{
  padding-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
}
.portfolio-one img{
  padding-left: 40px;
  width: 100%;
}
.work1,.work2,.work3,.work4,.work5,.work6,.work7,.work8{
  position: relative;
}
.subtitle1,.subtitle2,.subtitle3,.subtitle4,.subtitle5,.subtitle6,.subtitle7,.subtitle8{
  display: none;
  position: absolute;
  color:white;
  top: 10%;
  left: 15%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  border: 4px solid white;
  height: 80%;
  width: 80%;
}

/*
#contactUs{
  background-image: linear-gradient(rgba(102, 145, 185, 0.685), rgba(72, 158, 173, 0.616)),url("../images/backgrounds/contactback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 90px;
  margin-top: 50px;
  color: white;
}
#contactUs>h3{
  text-transform: uppercase;
  font-family:'Righteous', cursive;
}
.form-control{
  background-color: transparent;
}
.form-control::placeholder{
  color: white;
}
input#comment{
  height: 200px;
  color:white
}
input.form-control{
  border-radius: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
*/

#contactUs{
  background-image:linear-gradient(rgba(102, 145, 185, 0.685), rgba(72, 158, 173, 0.616)),url(../images/backgrounds/contactback.jpg);
  /* background-image: url("../about-img/contactback.jpg" );*/
  font-size: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-top: 50px;
 

  
 
  
} 
label{
  font-weight: 600;
  color:black;
  font-style: normal;
  font-family: 'Noto Sans JP', sans-serif;
}
#comment{
  color:black;
  font-weight: 700;
}
input.form-control, #comment{
  border-radius: 10px;
  border-color: teal;
  border-width: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: transparent;
  
}
.form-control::-webkit-input-placeholder {
  color: white;
}

#social-icons{
  margin-top: 50px;
  cursor: pointer;
}
p.studio{
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 5px;
  font-family: 'Permanent Marker', cursive;
}

header {
  background-color: #0E7190;
}
.copyright{
  margin-top: 20px;
  font-style: italic;
}
#logo{
  height:50px;
  width:100px;
  margin-left: 20px;
  border-radius: 50%;
}
.nav a:hover {
  background-color: #ddd;
  color: black;
}
#workIcon{
  width: 100px;
  height: 100px;
}